body {
  text-align: center;
}
table {
  margin: auto;
  border: solid 5px navy;
  border-radius: 25px;
  background-color: blue;
}
tr {
  margin: auto;
  background-color: lightgray;
  height: 75px;
  border-radius: 50px;
}
td {
  margin: 5px;
  border: solid 5px navy;
  width: 75px;
  text-align: center;
  border-radius: 50%;
}

.rouge {
  background-color: red;
}

.jaune {
  background-color: yellow;
}

h1 {
  color: #ffb81f;
  font-weight: 800;
  font-family: Verdana, sans-serif;
  text-shadow: #fc0 1px 0 10px;
}

header {
  background-color: #f0c568;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #f0c568;
}
nav a {
  text-decoration: none;
  color: white;
}
